.App {
  background-color: #282c34;
  min-height: 100vh;

  color: rgba(255, 255, 255, 0.687);

  padding: 50px;
}

p{
  margin: 5px 0;
}

.input{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;

  color: rgba(255, 255, 255, 0.687);
  font-size: 1rem;

  margin-left: 10px;
}

.App-link {
  color: #61dafb;
}

.command{
  margin-bottom: 30px;
}

.commandList{
  list-style: none;
  padding-top: 20px;
}

.commandList li{
  display: flex;
}

.commandTitleHelp{
  margin-right: 30px;
  width: 70px;
}

.commandApp{
  max-height: 80vh;
  margin-top: 30px;
  overflow: scroll;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.commandApp::-webkit-scrollbar {
  display: none;
}

.cv-container{
  border: 1px solid rgba(255, 255, 255, 0.687);
  padding: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}